.blog {
  font-size: 3rem;
  color: #fff;
  padding: 1.5rem 7%;
}

.blog .content h3 {
  font-size: 3rem;
  color: #fff;
}

.blog .content p {
  font-size: 1.6rem;
  color: #ccc;
  padding: 1rem 0;
  line-height: 1.8;
}
